<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IServicioCliente" />
        <binding name="BasicHttpBinding_IServicioBoletaVendedorCliente" />
        <binding name="BasicHttpBinding_IServicioDetalleProducto" />
        <binding name="BasicHttpBinding_IServicioLoginVendedor" />
        <binding name="BasicHttpBinding_IServicioProducto" />
        <binding name="BasicHttpBinding_IServicioVendedor" />
        <binding name="BasicHttpBinding_IServicioBoleta" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:65277/ServicioCliente.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioCliente"
        contract="ClienteServ.IServicioCliente" name="BasicHttpBinding_IServicioCliente" />
      <endpoint address="http://localhost:65277/ServicioBoletaVendedorCliente.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioBoletaVendedorCliente"
        contract="BoletaVendedorClienteServ.IServicioBoletaVendedorCliente"
        name="BasicHttpBinding_IServicioBoletaVendedorCliente" />
      <endpoint address="http://localhost:65277/ServicioDetalleProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioDetalleProducto"
        contract="DetalleProductoServ.IServicioDetalleProducto" name="BasicHttpBinding_IServicioDetalleProducto" />
      <endpoint address="http://localhost:65277/ServicioLoginVendedor.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioLoginVendedor"
        contract="LoginVendedorServ.IServicioLoginVendedor" name="BasicHttpBinding_IServicioLoginVendedor" />
      <endpoint address="http://localhost:65277/ServicioProducto.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioProducto"
        contract="ProductoServ.IServicioProducto" name="BasicHttpBinding_IServicioProducto" />
      <endpoint address="http://localhost:65277/ServicioVendedor.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioVendedor"
        contract="VendedorServ.IServicioVendedor" name="BasicHttpBinding_IServicioVendedor" />
      <endpoint address="http://localhost:65277/ServicioBoleta.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioBoleta"
        contract="BoletaServ.IServicioBoleta" name="BasicHttpBinding_IServicioBoleta" />
    </client>
  </system.serviceModel>
</configuration>